:root{
--white:(var(--white))
--rafaela:gray;
--branco:white;
}
 body{
    background-color: black;
    margin: 0%;
 }
*{
    margin: 1%;
}
img{
    width: 35%;
    border: 6px solid gray;
}
header{
    justify-content: space-around;
    align-items: center;
  background-image: url(./Rectangle\ 5.png);
}
.intro{
    display: flex;
    background-color: white;
    border-width: 12px;


    margin: 18px 26px 27px 4px;
    padding: 77px;
}
#grupo{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-image: url(./Rectangle\ 7.png);
    text-align: center;
    margin: 0%;
}
.img-grupo{}








