root{
    --white:var(--branco);
    --mariana: blue;
    --branco: white; 
}

body{
    background-color:var(--red) ;
    margin: 1;
 }
 *{
    margin: 1%;
}
img{
    width: 35%;
    border: 6px solid beige;
}
 header {
    
    justify-content: space-around;
    align-items: center;
    background-image: url(./now\ unite4d.png);
    }
.intro{
    display: flex;
    background-color: var(--branco);
    border-width: 12px;
   
    
    margin: 18px 26px 27px 4px;
    padding: 77px;
}


footer{
    background-image: url(./Rectangle\ 9.png);
    color: gray;
    margin: 0;
}

header a{
  color: gray;
    text-decoration: none;
}

.primerio{
    display: flex;
    align-items: center;
}

.intro {
    text-align: center;

}




















